/*!
Theme Name:     Reikiwaters-theme
Theme URI:      
Description:    Storefront child theme.
Author:         Me
Author URI:     
Template:       storefront
Version:        0.1.0
*/

/* josefin-sans-200 - latin */

  /* josefin-sans-regular - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/josefin-sans-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/josefin-sans-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-600 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('./fonts/josefin-sans-v16-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/josefin-sans-v16-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('./fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('./fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
         url('./fonts/roboto-v20-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v20-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

.site-header {
    .custom-logo-link {
        img {
        width: auto;
        }
    }
}

.site-search .widget_product_search input[type=text], 
.site-search .widget_product_search input[type=search] {
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}
.site-search .widget_product_search form::before {
    top: 0.7rem;
}
input[type='search'] {
    background-color: #c3c3c3;
}
.main-navigation ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.secondary-navigation .menu a {
    padding: 0.4rem 0.875em;
}

#tameYourMind {
    min-width: 100%;
    min-height: 100%;

}
.site-footer {
    padding: 1rem 0;
}
// .w100 {
//     width: 100%;
//     .wp-block-button__link {
//         width: 100%;
//     }
// }
.map-responsive{
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.hentry {
    .entry-content {
        .wp-block-button {
            .wp-block-button__link {
                border-radius: 30px;
                &:not(.has-background) {
                    background-color: #a38233;
                }
                &:not(.has-text-color) {
                    color: #fff;
                }
        }
    }
        
    }
}
.wp-block-button__link {
    border-radius: 30px;
    &:not(.has-background) {
        background-color: #a38233;
    }
    &:not(.has-text-color) {
        color: #fff;
    }
}
.wp-block-quote {
    border-left: 1px solid #000;
}
/* homepage header */
.home {
    &.logged-in {
        #masthead {
            top: 35px;
        }
    }
    #masthead {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 0 none;
        width: 100%;
        padding-bottom: 0;
        .col-full {
            .site-branding,
            .site-search,
            .site-header-cart {
                display: none;
            }
        }
    
    }
    .wp-block-buttons {
        text-align: center;
    }

}

#menu-item-841 {
    a {
        background-color: #a38233;
        border-radius: 5px;
        font-size: 1rem;
    }
}

#colophon {
    .mailto, .telefoon, .whatsapp {
        padding-left: 20px;
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 0px 5px;
    }
    .mailto {
        background-image: url('/wp-content/themes/reikiwaters-theme/images/at-solid.svg');
    }
    .telefoon {
        background-image: url('/wp-content/themes/reikiwaters-theme/images/mobile-alt-solid.svg');
    }
    .whatsapp {
        background-image: url('/wp-content/themes/reikiwaters-theme/images/whatsapp-square-brands.svg');
    }
    .footer-widget-3 {
        a {
            display: block;
            line-height: 3;
            text-decoration: none;
        }
        img {
            float: left;
            margin-right: 10px;
        }
    }
}

@media (min-width: 768px){
    .storefront-primary-navigation {
        .col-full {
            width: 100%;
            max-width: 80%;
        }
    }
    .site-header {
        padding-top: 1rem;
    }
    .site-branding {
        margin-bottom: 0;
    }
    .primary-navigation {
        text-align: right;
        #menu-main-menu {
            li {
                a {
                    padding: 0 1rem;
                }
           }
           .sub-menu {
                li {
                     a {
                         padding: 0.5rem;
                     }
                };
           }
   
        }
    }
    .main-navigation ul.menu > li > a, 
    .main-navigation ul.nav-menu > li > a,
    .site-header-cart .cart-contents {
        padding: 0.618em 1em;
    }
    .footer-widgets {
        padding-top: 1rem;
    }
}