/*!
Theme Name:     Reikiwaters-theme
Theme URI:      
Description:    Storefront child theme.
Author:         Me
Author URI:     
Template:       storefront
Version:        0.1.0
*/
/* josefin-sans-200 - latin */
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/josefin-sans-v16-latin-regular.woff2") format("woff2"), url("./fonts/josefin-sans-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./fonts/josefin-sans-v16-latin-600.woff2") format("woff2"), url("./fonts/josefin-sans-v16-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("./fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("./fonts/roboto-v20-latin-italic.woff2") format("woff2"), url("./fonts/roboto-v20-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./fonts/roboto-v20-latin-700.woff2") format("woff2"), url("./fonts/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("./fonts/roboto-v20-latin-700italic.woff2") format("woff2"), url("./fonts/roboto-v20-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* line 68, sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

/* line 72, sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 78, sass/style.scss */
.site-header .custom-logo-link img {
  width: auto;
}

/* line 84, sass/style.scss */
.site-search .widget_product_search input[type=text],
.site-search .widget_product_search input[type=search] {
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

/* line 89, sass/style.scss */
.site-search .widget_product_search form::before {
  top: 0.7rem;
}

/* line 92, sass/style.scss */
input[type='search'] {
  background-color: #c3c3c3;
}

/* line 95, sass/style.scss */
.main-navigation ul li a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

/* line 100, sass/style.scss */
.secondary-navigation .menu a {
  padding: 0.4rem 0.875em;
}

/* line 104, sass/style.scss */
#tameYourMind {
  min-width: 100%;
  min-height: 100%;
}

/* line 109, sass/style.scss */
.site-footer {
  padding: 1rem 0;
}

/* line 118, sass/style.scss */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
/* line 119, sass/style.scss */
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 134, sass/style.scss */
.hentry .entry-content .wp-block-button .wp-block-button__link {
  border-radius: 30px;
}
/* line 136, sass/style.scss */
.hentry .entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #a38233;
}
/* line 139, sass/style.scss */
.hentry .entry-content .wp-block-button .wp-block-button__link:not(.has-text-color) {
  color: #fff;
}

/* line 147, sass/style.scss */
.wp-block-button__link {
  border-radius: 30px;
}
/* line 149, sass/style.scss */
.wp-block-button__link:not(.has-background) {
  background-color: #a38233;
}
/* line 152, sass/style.scss */
.wp-block-button__link:not(.has-text-color) {
  color: #fff;
}

/* line 156, sass/style.scss */
.wp-block-quote {
  border-left: 1px solid #000;
}

/* homepage header */
/* line 162, sass/style.scss */
.home.logged-in #masthead {
  top: 35px;
}
/* line 166, sass/style.scss */
.home #masthead {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 0 none;
  width: 100%;
  padding-bottom: 0;
}
/* line 175, sass/style.scss */
.home #masthead .col-full .site-branding,
.home #masthead .col-full .site-search,
.home #masthead .col-full .site-header-cart {
  display: none;
}
/* line 183, sass/style.scss */
.home .wp-block-buttons {
  text-align: center;
}

/* line 190, sass/style.scss */
#menu-item-841 a {
  background-color: #a38233;
  border-radius: 5px;
  font-size: 1rem;
}

/* line 198, sass/style.scss */
#colophon .mailto, #colophon .telefoon, #colophon .whatsapp {
  padding-left: 20px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
/* line 204, sass/style.scss */
#colophon .mailto {
  background-image: url("/wp-content/themes/reikiwaters-theme/images/at-solid.svg");
}
/* line 207, sass/style.scss */
#colophon .telefoon {
  background-image: url("/wp-content/themes/reikiwaters-theme/images/mobile-alt-solid.svg");
}
/* line 210, sass/style.scss */
#colophon .whatsapp {
  background-image: url("/wp-content/themes/reikiwaters-theme/images/whatsapp-square-brands.svg");
}
/* line 214, sass/style.scss */
#colophon .footer-widget-3 a {
  display: block;
  line-height: 3;
  text-decoration: none;
}
/* line 219, sass/style.scss */
#colophon .footer-widget-3 img {
  float: left;
  margin-right: 10px;
}

@media (min-width: 768px) {
  /* line 228, sass/style.scss */
  .storefront-primary-navigation .col-full {
    width: 100%;
    max-width: 80%;
  }

  /* line 233, sass/style.scss */
  .site-header {
    padding-top: 1rem;
  }

  /* line 236, sass/style.scss */
  .site-branding {
    margin-bottom: 0;
  }

  /* line 239, sass/style.scss */
  .primary-navigation {
    text-align: right;
  }
  /* line 243, sass/style.scss */
  .primary-navigation #menu-main-menu li a {
    padding: 0 1rem;
  }
  /* line 249, sass/style.scss */
  .primary-navigation #menu-main-menu .sub-menu li a {
    padding: 0.5rem;
  }

  /* line 257, sass/style.scss */
  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a,
  .site-header-cart .cart-contents {
    padding: 0.618em 1em;
  }

  /* line 262, sass/style.scss */
  .footer-widgets {
    padding-top: 1rem;
  }
}
